@import 'https://fonts.googleapis.com/css?family=Nunito|Comfortaa|Gidugu';
@import 'san-francisco';
a,a:active,a:hover,a:focus{
  color:black;
  text-decoration: none;
}
.examples-entries, .blog-entries{
ul{
  list-style:none;
}
li:before{
  font: normal normal normal 30px FontAwesome;
  content:'\f105';
  color:rgb(108, 141, 143);
}
}
body {
  font-family: Nunito;
  font-size: 1.8rem;
  overflow-x: hidden;
  color:rgb(39, 45, 48);
}
.starter-template{
  padding: 3rem 1.5rem;
  text-align: center;
}
.blog-entries,.examples-entries{
  padding: 3rem 1.5rem;
}

nav.main{ 
  padding:0;
  background: none;
  font-size:1.5rem;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
  a, a:hover, a:active{
  text-decoration: inherit;
  display: flex;
    align-items: center;
    font-family: monospace;
  
  }  
  p{
    display:flex;
    margin:0;
    align-items: center;
  }
  a.navbar-brand, a.navbar-brand:hover, a.navbar-brand:active{
    font-family: Comfortaa;
    font-size: 1em;
    color:#aaa;
    .highlight{
      color: #5d91ba
    }
}
}


nav{
  font-family: Gidugu;
  font-size: 2.5rem;
  background-color:#38566e;
}
.nav-link{
  padding:0;
}

.text-hw{
  font-family: Indie Flower;
}
.text-muted{
  font-family: "San Francisco"
}


.container .app-view{
  overflow: visible;
}
.ng-enter,.ng-leave      { 
  position:absolute; 
  left:30px; 
  right:30px;
    transition:1s all; 
    -moz-transition:1s all; 
    -webkit-transition:1s all; 
}
    
.ng-enter            { 
    -webkit-animation:slideInRight 1s both;
    -moz-animation:slideInRight 1s both;
    animation:slideInRight 1s both; 
}

.ng-leave            { 
    -webkit-animation:slideOutLeft 1s both;
    -moz-animation:slideOutLeft 1s both;
    animation:slideOutLeft 1s both; 
}

@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
nav.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin:0;
  padding:0;
}
nav.footer ul{
  padding:0;
  display:flex;
  justify-content: space-between;
  list-style: none;
  color:white;
  height: 100%;
  text-align: center;
  a, a:hover, a:active{
    
  text-decoration: inherit;
  color:inherit;
  }  
  li{
    display:flex;
    align-items: center;
    justify-content: center;
    width:25%;
    transition:width 1s;
  }
  li.active{
  transition:width 1s;
  width:35%;
  color:#c1a98a
}
li:hover{
  border-top:4px solid white;
   border-bottom:4px solid transparent;
}
}

img {
    max-width: 100%;
    height: auto;
}
