@import 'https://fonts.googleapis.com/css?family=Nunito|Indie+Flower|Gidugu';
@import 'san-francisco';


body {
  background-color: rgba(96, 125, 139, 0.3);;
  font-family: Nunito;
  font-size: 1.8rem;
}
.starter-template{
  padding: 3rem 1.5rem;
  text-align: center;
}
.blog-entries,.examples-entries{
  padding: 3rem 1.5rem;
}

footer{ 
  font-size:1.5rem;
  margin:30px;
  padding-top:20px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color:#607d8b;
  a, a:hover, a:active{
  text-decoration: inherit;
  color:inherit;

}

}
h1{
    font-family: Indie Flower;
    font-size: 1.7rem;
}
nav{
  font-family: Gidugu;
  font-size: 2.5rem;
  background-color:rgba(30, 192, 233, 0.75);;
}
.nav-link{
  padding:0;
}

.text-hw{
  font-family: Indie Flower;
}
.text-muted{
  font-family: "San Francisco"
}