<div class="examples-entries">
   <p data-height="420" data-theme-id="0" data-slug-hash="bBpoxM" data-default-tab="result" data-user="alejandromdz" data-embed-version="2" data-pen-title="QuickSort" class="codepen">See the Pen <a href="http://codepen.io/alejandromdz/pen/bBpoxM/">QuickSort</a> by Alejandro Méndez (<a href="http://codepen.io/alejandromdz">@alejandromdz</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</div>