<div class="starter-template">

      <svg id="my-svg" xmlns="http://www.w3.org/2000/svg" width="360" height="85">
        <symbol id="s-text">
          <text x="25" y="80" font-family="Baloo" font-size="5rem">
            Welcome
          </text>
        </symbol>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
      </svg>
      <br>
      <p>Once you're here take a look into my blog</p>
      <p>I'll put this pikachu GIF</p>
      <img src="underconstruction.gif">
      <p>... just because I can</p>
</div>
