
<div class="starter-template">

      
      <h1>Welcome to my <a href="https://pages.github.com/">gh-page</a></h1>
    
</div>
<section id="main-banner">
      > coding in the open web <span class="input">_</span>
      </section>


<div class="starter-template">    
      <p>I've been writing HTML since AngelFire and Geocities were the hosting alternatives
            for web programming apprentices, Long life to the open web!
	      <img src='https://nethistorian.files.wordpress.com/2013/07/page2.png'/>
      </p>
      <p>Feel free to msg if you need any help with your web app!</p> 
      <div class="contact">
      <form id="form" class="topBefore">
		
		  <input id="name" type="text" placeholder="Name">
		  <input id="email" type="text" placeholder="E-mail">
		  <textarea id="message" type="text" placeholder="Message"></textarea>
  <input id="submit" type="submit" value="Submit">
  
</form>     
      </div>
</div>
